<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
</head>
<body>
    <h1 >Welcome to the Community Event Management Platform</h1>
    <h2> Use command prompt to create , update , delete , view, and RSVP event </h2>
    <h4> This is just for show use cmd to perfom operation</h4>
    <h4> Functionalities are:</h4>
    <ul> User can signup and login </ul>
    <ul> Only superuser can create category of event</ul>
    <ul> All authenticated user can create events using token</ul>
    <ul> Authenticated user who created event only have a permission to delete or update those events using token</ul>
    <ul> Any one can see list of events</ul>
    <ul> Authenticated user can RSVP for events</ul>
    <h4> Urls for Functionalities:</h4>
    <ul> See README file for all details , how to work on Functionalities</ul> 
</body>
</html>
